<html>
	<head>
		<title>Test</title>
	</head>
	<body>
		<ul>
			<% for (var i = 0; i < games.length; i++) { %>
				<li><%= games[i].name %><br /><%= games[i].description %></li>
			<% } %>
		</ul>
	</body>
</html>